@font-face {
    font-family: 'Kerola';
    src: url('../assets/fonts/kerola-light.woff2');
    font-weight: 200;
}

@font-face {
    font-family: 'Kerola';
    src: url('../assets/fonts/kerola-normal.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Kerola';
    src: url('../assets/fonts/kerola.woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Kerola';
    src: url('../assets/fonts/kerola-bold.woff2');
    font-weight: 900;
}